body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Pixelify Sans";
    text-align: center;


}

.pixelify-sans {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}